* {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

.slot-machine-cnt {
	
}

.slot-machine-list {
	margin: 100px 0 0 50px;
	width: 400px;
	height: 100px;
	overflow: hidden;
	background-color: red;
}

.slot-machine-block {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

.slot-machine-list .list {
	position: absolute;
	top: 0;
	left: 0;
}

.slot-machine-list li { 
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #ccc;
	margin: 0 0 10px 0;
}

.slot-machine-list li:last-child {
	margin: 0;
}
